body {
	background: #ffffff;
	color: #000000;
	font-family: 'Poly', serif;
	font-size: 14px;
	line-height: 1.5;
}

h1 {
	font-size: 150px;
	font-family: "Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
	font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 62px;
  font-size: 3.875rem;
  line-height: 1.06452;
}


.beeps{
 	font-size: 20px;
 	letter-spacing: 2px;
	text-align: left;
    margin-left: 140px;
    margin-right: 140px;
    width: 85%;
	margin-top: 50px;
    margin-bottom: 200px;
    min-width: 900px;
}

.bilde{
margin-bottom: 30px;
}

p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
}
